* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  cursor: default;
  background-color: $wBackground;
  overflow-x: hidden;
}

a, button{
  cursor: pointer;
  text-decoration: none;
}
button:focus{
  outline: none;
}