.container {
  padding-bottom: 20px;
  .photos {
    @include size(30vh, 100%);
    position: relative;
    .coverpic {
      @include size(95%, 100%);
      overflow: hidden;
      img {
        @include size100P();
        object-fit: cover;
      }
    }
    .profilepic {
      position: absolute;
      top: 19vh;
      left: 2vw;
      @include size(20vh, 11vw);
      border-radius: 75px;
      overflow: hidden;
      img {
        @include size100P();
        object-fit: cover;
      }
    }
    .cover {
      position: absolute;
      right: 2vw;
      bottom: 3vh;
      border: none;
      padding: 10px 12px;
      border-radius: 20px;
      color: $wBackground;
      font-size: 1rem;
      background-color: rgba($color: $bAccent, $alpha: 0.5);
      span {
        margin-left: 3px;
      }
    }
    .cover:hover {
      background-color: rgba($color: $bAccent, $alpha: 1);
    }
    .profile {
      position: absolute;
      top: 33vh;
      left: 10vw;
      border: none;
      padding: 10px 12px;
      border-radius: 20px;
      color: $wBackground;
      background-color: rgba($color: $bAccent, $alpha: 0.5);
    }
  }
  .profileContainer {
    @include flex(row);
    @include size(auto, 100%);
    @include postContainer();

    .contentContainer {
      @include Aflex(column, center);
      @include size(auto, 70%);
      .createContainer {
        @include JAflex(row, center, center);
        @include size(10vh, 100%);
        margin-top: 5vh;
        .pcontentContainer {
          @include size(90%, 70%);
          @include Aflex(row, center);
          padding: 0 20px;
          border-radius: 30px;
          box-shadow: 0px 1px 15px 3px #ebebeb;

          figure {
            @include JAflex(column, center, center);
            @include size(80%, 10%);
            border: white solid 1px;
            border-radius: 50px;
            margin-right: 10px;
            overflow: hidden;
            img {
              @include size100P();
              object-fit: cover;
            }
          }
          h1 {
            padding: 10px;
            background-color: white;
            border: 2px solid white;
            width: 90%;
            font-size: 1.2rem;
            border-radius: 30px;
          }
        }
      }
      .info {
        @include size(28vh, 100%);
        padding-left: 15vw;
        box-shadow: 0px 15px 10px -10px $gAccent;
        padding-right: 2vw;
        padding-bottom: 10px;
        border-bottom-right-radius: 30px;
        .heading {
          margin-bottom: 1vh;
          h1 {
            font-size: 1.5rem;
          }
          p {
            color: $gAccent;
            font-size: 0.9rem;
          }
        }
        .bio {
          font-size: 1rem;
        }
        .section {
          @include JAflex(row, center, space-between);
          @include size(auto, 100%);
          @include Aflex(row, center);
          margin-top: 5vh;
          margin-bottom: 2vh;
          form {
            button,
            input,
            a {
              padding: 10px 20px;
              border: none;
              background-color: $gAccent;
              font-size: 0.9rem;
              border-radius: 30px;
              color: $wBackground;
              margin: 0 10px;
              cursor: pointer;
              span {
                margin-left: 5px;
              }
            }
            button:hover,
            input:hover,
            a:hover {
              background-color: $pPrimary;
            }
            .active {
              background-color: $pPrimary;
            }
          }
        }
      }
      .followContainer {
        @include size(auto, 80%);
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        .followGroup {
          box-shadow: 0px 1px 15px 3px #ebebeb;
          background-color: white;
          @include Aflex(row, center);
          border-radius: 30px;
          padding: 5px;
          figure {
            @include size(8vh, 4vw);
            border-radius: 50px;
            overflow: hidden;
            img {
              @include size100P();
              object-fit: cover;
            }
          }
          .heading {
            width: 75%;
            margin-left: 1vw;
            @include JAflex(column, center, space-between);
            width: 80%;
            a {
              @include colorFont($pPrimary, 1rem);
              font-weight: bold;
              width: 100%;
            }
            p {
              @include colorFont($gAccent, 0.8rem);
              width: 100%;
            }
          }
        }
      }
    }
    .introContainer {
      @include size(auto, 30%);
      padding: 5vh 2vw;
      .content {
        @include Jflex(column, center);
        width: 95%;
        padding: 20px;
        background-color: $wBackground;
        border: white solid 2px;
        border-radius: 30px;
        box-shadow: 0px 10px 5px -10px $gAccent;
        h1 {
          @include colorFont($pPrimary, 1rem);
          margin-bottom: 1vh;
        }
        .wrapper {
          .icontentContainer {
            @include Aflex(row, center);
            height: 5vh;
            margin: 1vh 0;
            @include colorFont($gAccent, 0.9rem);
            span {
              margin-left: 1vw;
              a {
                color: $pPrimary;
                font-weight: bold;
              }
              a:hover {
                color: $gAccent;
              }
            }
          }
        }
        .iEdit {
          width: 100%;
          text-align: center;
          background-color: $pPrimary;
          margin-top: 1vh;
          padding: 1vh 0;
          border-radius: 30px;
          color: $wBackground;
        }
      }
      .privacy {
        @include JAflex(row, center, center);
        padding-right: 2vw;
        padding-top: 1vh;
        .wrapper {
          font-size: 0.7rem;
          p {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
