$pPrimary: #752FFF; //Purple
$ySecondary: #FFBB31; //Yellow
$rSecondary: #FE3A3A; //Red
$bAccent: #000000; //Black
$gAccent: #767676; //Grey
$g2Accent: #cecece; //Grey
$blAccent: #32B3FF; //Blue
$wBackground: #F9F9F9; //White